body {
  margin: 0px;
  padding: 24px;
  background-color: rgb(255, 255, 255);
  font-family: Arial;
  color: black;
}

.info {
  width: fit-content;
  padding: 16px;
  background-color: rgb(230, 230, 230);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

p {
  margin: 0px;
  padding: 2px;
}